<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portf_items.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portf_items.title%></h1>
      <hr>
      <em><%= @portf_items.subtitle %></em>

      <p><%= @portf_items.body %></p>

      <h3>Technologies Used:</h3>

      <%= @portf_items.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
        <div>
          <%=  link_to "Edit Item", edit_portfolio_path(@portf_items), class: 'btn btn_warning btn_block' %>
        </div>
      <% end %>
    </div>
  </div>  
</div>