<%= image_tag @portf_items.main_image %>

<h1><%= @portf_items.title%></h1>

<em><%= @portf_items.subtitle %></em>

<p><%= @portf_items.body %></p>

<h2>Technologies Used:</h2>

<%= @portf_items.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>
