<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi, I'm Abigail, a software developer focused on web development; I'm also interested in interface design and project management. I like to maintain a forever student mentality too. With that in mind, be ready to take a look at my professional development through this blog.</p>
  </div>
  
  <%= source_helper("alert alert-info blog-sidebar-source") %>
  
  <div class="sidebar-module">
    <% @side_bar_topics.each do |topic| %>      
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">

      <li><a href="https://github.com/aoihanabi"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/abigail-campos-73738b197/"><%= fa_icon "linkedin" %></a></li>
      <%# <li><a href="#"><%= fa_icon "twitter" %><%#</a></li> %>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->